.vscode/
/_deps/
/build/
/out/
/bin/
/lib/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/compile_commands.json
.env

/Backend/staticfiles/
# Python cache
__pycache__/
*.py[cod]
*.pyo

# SQLite database
db.sqlite3

# Django/Migrations cache
*.log
*.pot
*.pyc
*.pyd

# VS Code settings
.vscode/

# Environment files
.env
*.env

# OS-specific
.DS_Store
Thumbs.db

# Python virtualenv
venv/
ENV/
env/
